{% extends 'base.html' %}
{% load static %}

{% block title %} | Home {% endblock %}
{% block content %}
<!-- Alerts -->
<!-- Showcase -->
<section id="showcase">
    {% include 'partials/_alerts.html' %}
    <div class="container text-center">
        <div class="home-search p-5">
            <div class="overlay p-5">
                <h1 class="display-4 mb-4">
                    Car Price Prediction
                </h1>
                <p class="lead">With the use of Machine Learning Algorithms, this is another option for one to get price
                    of a car. It's as
                    easy as filling out the fields below!</p>
                <div class="search">
                    <form action="{% url 'prediction' %}" method="POST">
                        {% csrf_token %}
                        <!-- Form Row 1 -->
                        <div class="form-row">
                            <div class="col-md-2 mb-2">
                                <select id="make" name="make" class="form-control" onchange="load_car_model(this.id, 'car_model')">
                                    <option value="" selected hidden>Make</option>
                                    {% for makes in make %}
                                    <option value="{{ makes }}">{{makes}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2 mb-2">
                                <select name="car_model" id="car_model" class="form-control">
                                    <option value="" selected hidden>Model</option>
                                </select>
                            </div>
                            <div class="col-md-2 mb-2">
                                <input type="text" name="year" class="form-control" placeholder="Year">
                            </div>
                            <div class="col-md-2 mb-2">
                                <select name="transmission" class="form-control">
                                    <option value="default" selected>Transmission</option>
                                    {% for transmissions in transmission%}
                                        <option value="{{ transmissions }}">{{ transmissions }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2 mb-2">
                                <input type="text" name="mileage" class="form-control" placeholder="Mileage">
                            </div>
                            <div class="col-md-2 mb-2">
                                <select id="tax" name="tax" class="form-control">
                                    <option value="default" selected>Tax</option>
                                    {% for taxes in tax %}
                                    <option value="{{ taxes }}">£{{taxes}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2 mb-2">
                                <input type="text" name="mpg" class="form-control" placeholder="MPG">
                            </div>
                            <div class="col-md-2 mb-2">
                                <input type="text" name="engine_size" class="form-control" placeholder="Engine Size">
                            </div>

                        </div>
                        <button class="btn btn-secondary btn-block mt-4" type="submit">Get Predicted Price</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <i class="fas fa-exclamation-circle fa-4x mr-4"></i>
                <hr>
                <h3>Problem</h3>
                <p>With more and more new features added to cars, it is made quite difficult for one
                    to have an understanding of how much a car is really worth.</p>
            </div>
            <div class="col-md-4">
                <i class="far fa-lightbulb fa-4x mr-4"></i>
                <hr>
                <h3>Solution</h3>
                <p>Using current market data and combined with a Machine Learning Algorithm, this website offers
                    functionality to receive
                    a predicted price just by filling out eight fields.
                </p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-poll fa-4x mr-4"></i>
                <hr>
                <h3>Result</h3>
                <p>The website allows users to receive a predicted price for a given car. With this information a user
                    now knows how much a car
                    is really worth in the current market.
                </p>
            </div>
        </div>
    </div>
</section>

<script>

function load_car_model(company_id, car_mode_id){
    var company = document.getElementById(company_id);
    var car_model = document.getElementById(car_mode_id);

    car_model.value = "";
    car_model.innerHTML = "";

    {% for makes in make %}
        if(company.value == "{{makes}}")
        {
            {
                {% for models in model %}
                    {% if makes in models%}
                      var newOption = document.createElement("option");
                      newOption.value = "{{ models}}";
                      newOption.innerHTML = "{{ models }}";
                      car_model.options.add(newOption);
                    {% endif %}
                {% endfor %}
            }
        }
    {% endfor %}
}

</script>
{% endblock %}